@charset "utf-8";
/* ==========================================================================
 keyframe
========================================================================== */

body {
    background: tomato;
}
/* Javascript用クラス */
.tableJs {
    border-collapse: collapse;
}
.trJs,
.tdJs {
    border: 1px solid #000000;
    padding: 8px;
}
.titleNHK {
    background: lime;
    font-size: 27px;
}
.programJs {
   background: #eeeeee;
   box-shadow: 0 0 3px rgba(0,0,0,0.3);
}
.programJs__head {
    font-size: 36px;
}
.dateNHK {
    font-size: 20px;
}